.chessGame {
  background-color: #2a184e;
  text-align: center;
  position: relative;
  min-width: fit-content;
  min-height: fit-content;
}
.chessGame > * {
  vertical-align: middle;
}
.mainBoard {
  display: inline-block;
  margin: 20px;
}

.chessGame h1 {
  color: #00abb3;
  padding: 10px;
  margin: 10px auto 10px;
  font-family: "Kanit", sans-serif;
}
.gameInfo {
  display: block;
  color: #00abb3;
  text-align: center;
  border: 2px solid black;
  font-family: "Kanit", sans-serif;
}

#status {
  font-family: "Kanit", sans-serif;
  line-height: 2;
  padding: 5px;
  margin: 5px;
}

#pgn {
  font-family: "Kanit", sans-serif;
  line-height: 2;
  padding: 5px;
  margin: 5px;
}
.dieface {
  display: inline-block;
  background-color: red;
}
#dieroll {
  color: white;
  font-family: "Kanit", sans-serif;
  margin: 10px;
  display: inline-block;
}

.highlight-black {
  animation: fade 2s linear;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0%,
  100% {
    background-color: rgb(255, 208, 0);
  }
  50% {
    background-color: rgba(237, 102, 65, 0.897);
  }
}

.custom-square-dark {
  background-color: #a53636;
}
