:root {
  --dark-blue: #1766b3;
  --light-blue: #7cb1e5;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 20px;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 12%,
    rgba(1, 183, 236, 1) 73%,
    rgba(0, 212, 255, 1) 90%
  );
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: darkorange;
  color: floralwhite;
  border: 1px solid black;
  font-size: 17px;
}

.main-container {
  max-width: 1400px;
  margin: 20px auto;
  overflow: hidden;
}

.main-header {
  background: var(--dark-blue);
  color: lightyellow;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main-sidebar {
  background: var(--light-blue);
  color: black;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.main-sidebar h2 {
  font-size: 20px;
  background: #645a5a;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}
.main-sidebar h3 {
  margin-bottom: 15px;
}
.main-sidebar ul li {
  padding: 10px 0;
}
.main-game {
  padding: 10px;
  max-height: 600px;
}

#connectedClients {
  float: right;
  padding: 3px;
  font-family: monospace;
  color: lawngreen;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.die-container {
  flex: 1;
}
.main-board {
  flex: 2;
}
.main-game-info {
  padding: 20px;
  background-color: lightgrey;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
}

.game-notation {
  background-color: black;
}

#status {
  font-family: "Kanit", sans-serif;
  line-height: 2;
  padding: 5px;
  margin: 5px;
  color: white;
  font-family: monospace;
}

#pgn {
  font-family: "Kanit", sans-serif;
  line-height: 2;
  padding: 5px;
  margin: 5px;
  color: white;
  font-family: monospace;
}
.dieface {
  display: inline-block;
  background-color: red;
}

#myboard {
  min-width: 270px !important;
}

#startButton {
  cursor: pointer;
  color: white;
  padding: 12px 12px;
  background-color: mediumseagreen;
  border-radius: 15px;
  border: 2px solid black;
  transition: 0.4s;
  font-family: inherit;
}
#startButton:hover {
  color: #121202;
  background: #23db0c;
  border: 2px solid white;
}

.highlight-valid {
  animation: fade 2s linear;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0%,
  100% {
    background-color: rgb(255, 208, 0);
  }
  50% {
    background-color: rgba(237, 102, 65, 0.897);
  }
}

@media (max-width: 768px) {
  .main-main {
    display: block;
  }

  .main-sidebar {
    display: none;
  }
  .wrapper {
    flex-direction: column;
  }
}
